body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f7;
    color: #1d1d1f;
}

header {
    text-align: center;
    padding: 60px 20px;
    background: #000;
    color: white;
}

.nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #a1a1a6;
}

.hero h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

.hero p {
    font-size: 20px;
    font-weight: 400;
    color: #a1a1a6;
}

.content-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 80px 10%;
    border-bottom: 1px solid #d2d2d7;
}

.text-content, .image-content {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.image-content img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.team-section {
    text-align: center;
    padding: 80px 10%;
}

.team-section h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
}

.team {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.team-member {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    max-width: 250px;
}

.team-member:hover {
    transform: translateY(-10px);
}

.team-member img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.team-member p {
    margin: 5px 0;
    font-size: 16px;
    font-weight: 500;
}

.team-member strong {
    font-size: 18px;
    font-weight: 700;
    color: #1d1d1f;
}

.team-member a {
    display: inline-block;
    margin-top: 10px;
    color: #0073b1;
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s;
}

.team-member a:hover {
    color: #005582;
}

footer {
    text-align: center;
    padding: 20px;
    background: #000;
    color: white;
}

.ams-logo {
    max-width: 500px;
    max-height: 100%;
    width: auto;
  }

